# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
Recordings/

# Unity 6000+ specific
ScriptAssemblies/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================ #
# Package Manager  #
# ================ #
Packages/packages-lock.json

# ============== #
# Crash Reports  #
# ============== #
sysinfo.txt
crashlytics-build.properties

# ====== #
# Rider  #
# ====== #
.idea/

# ========== #
# VS Code    #
# ========== #
.vscode/